@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Rubik", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-purple: #7C3AED;
  --color-brand-pink: #EC4899;
  --color-brand-yellow: #FBBF24;
}

@layer utilities {
  .bg-grid-pattern {
    background-image: 
      linear-gradient(to right, rgba(255,255,255,0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255,255,255,0.1) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

body {
  font-family: var(--font-sans);
  background-color: #111827; /* gray-900 */
  color: white;
  overflow-x: hidden;
}
